body {
    background-color: rgb(253, 250, 236);

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12pt;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Courier New", Monaco, monospace;
}

a {
    color: rgb(113, 206, 206);
}

p {
    /* font-family: "Lucida Console", Monaco, monospace; */
    /* font-size: 20px; */
    color: black;
}

table caption {
    color: blue;
}