body {
    font-family: "Courier New", serif, monospace;
    font-size: 16px;
    color: black;
}

a {
    color: rgb(113, 206, 206);
}

p {
    /* font-family: "Arial", serif, sans-serif;
    font-size: 20px; */
    color: black;
}